
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <form method="post">
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control" />
        <br />
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
    </form>
</div>
